NAMESPACE={{NAMESPACE}}
DENODO_FASTMCP_IMAGE={{DENODO_FASTMCP_IMAGE_DIGEST}}
UAMI_CLIENT_ID={{UAMI_CLIENT_ID}}
DVP_RESOURCE_APP_ID={{DVP_RESOURCE_APP_ID}}
DVP_HOST={{DVP_PRIVATE_HOSTNAME}}
DVP_PORT=9999
DVP_DATABASE={{DVP_DATABASE}}
APPROVED_VIEW={{APPROVED_VIEW}}
AGENTGATEWAY_NAMESPACE={{AGENTGATEWAY_NAMESPACE}}
AGENTGATEWAY_NAME={{AGENTGATEWAY_NAME}}
KAGENT_NAMESPACE={{KAGENT_NAMESPACE}}
MODEL_CONFIG={{MODEL_CONFIG}}
